include MANIFEST.in
include *.txt
include *.rst
include *.md
include Makefile
include LICENSE
recursive-include docs/source *.rst
recursive-include docs/source *.png
recursive-include docs/source *.py
include docs/make.bat
include docs/Makefile
recursive-include examples *.py
recursive-include licenses *.txt
include atom/py.typed
recursive-include atom *.py
recursive-include atom *.pyi
recursive-include atom/src *.cpp
recursive-include atom/src *.h
recursive-include tests *.py
prune .git
prune docs/build
prune dist
prune build
